/* DESKTOP & MOBILE */

    /* NAVBAR */
    .navbar-brand {
        font-size: 32px;
        color: lightgrey!important;
        font-family: yellowtail;
        letter-spacing: 5px;
        text-shadow: 1px 1px 1px rgba(186, 175, 175, 0.8);
        transition: all 0.5s;
    }

    .navbar-brand:hover {
        letter-spacing: 10px;
    }
    /* AKHIR NAVBAR */

    /* JUMBOTRON */
    .jumbotron {
        height: 540px;
        background-image: url(../gambar/jumbotron.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    .jumbotron .display-4 {
        font-size: 33px;
        text-align: center;
        margin-top: 200px;
        color: white!important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    }
    /* AKHIR JUMBOTRON */

    /* ABOUT ME */
    .aboutme {
        border-top: 3px solid royalblue;
        border-bottom: 3px solid lightgreen;
        margin-top: -40px!important;
    }
    /* AKHIR ABOUT ME */

    /* PROFILE */
    .kiri-profile {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }

    .kanan-profile {
        width: 80%;
        margin: auto;
    }
    /* AKHIR PROFILE */

    /* SERVICES */
    .services {
        border-top: 3px solid royalblue;
        border-bottom: 3px solid lightgreen;
    }

    .card-services {
        width: 80%;
        margin: auto;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    
    .tengah {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
    }
    /* AKHIR SERVICES */

    /* PARALLAX */
    .parallax {
        height: 200px;
        background-image: url(../gambar/parallax.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
    .parallax .col {
        text-align: center;
        margin-top: 100px;
        color: lightgray!important;
        letter-spacing: 3px;
        font-size: 2em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    /* AKHIR PARALLAX */

    /* GALERY */
    .galery .card {
        width: 80%;
        height: 90%;
        margin: auto;
    }

    .galery .card img{
        cursor: pointer;
        margin-bottom: 20px;
    }
    /* AKHIR GALERY */

/* DESKTOP ONLY */
@media (min-width: 992px) {

    /* NAVBAR */
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
        color: lightgray!important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid lightgray;
        width: 50%;
        padding-bottom: 5px;
        margin: auto;
        margin-bottom: -8px;
    }
    /* AKHIR NAVBAR */

    /* JUMBOTRON */
    .jumbotron {
        margin-top: -75px;
        height: 680px;
    }

    .jumbotron .display-4 {
        font-size: 70px;
        margin-top: 200px;
    }
    /* AKHIR JUMBOTRON */

    /* ABOUT ME */

    .kiri {
        transition: all 1s;
        margin-right: 10px;
        cursor: pointer;
    }

    .kanan {
        transition: all 1s;
        cursor: pointer;
    }
    
    .kiri:hover {
        background-color: lightgreen;
        border-radius: 10px;
        color: black!important;
    }

    .kanan:hover {
        background-color: lightblue;
        border-radius: 10px;
        color: black!important;
    }
    /* AKHIR ABOUT ME */

    /* PROFILE */
    .kiri-profile {
        width: 100%;
        margin: 0px;
        margin-bottom: 0px;
    }

    .kanan-profile {
        width: 100%;
        margin: 0px;
    }
    /* AKHIR PROFILE */

    /* SERVICES */
    .card-services {
        width: 100%;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    }
    
    .tengah {
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
    }
    /* AKHIR SERVICES */

    /* PARALLAX */
    .parallax {
        height: 300px;
    }
    .parallax .col {
        margin-top: 150px;
        letter-spacing: 5px;
        font-size: 3em;
    }
    /* AKHIR PARALLAX */

    /* GALERY */
    .galery .card {
        width: 100%;
        height: 100%;
    }

    .galery .card img{
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    /* AKHIR GALERY */

}